/*este estilo se aplicara a todos los elementos del documento*/


img {
    width: 300px;
    opacity: 0.88;
    height: 175px;
}
div {
     border: solid 1px red;
     padding: 3px 3px;
     margin: 5px 5px;
     float: left;
}

div a {
    text-decoration: none;
    color: white;
}

.descripcion-img{
    width:100%;
     
     color: black;
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size; 1.2em;
     border: solid 0px orange;
}
.img-cabezera{
     border: solid 2px white;
     padding: 0px 0px;
     margin: 0px 0px;
     z-index: 10;
     position: absolute;
     color: white;
     background: green;
     width: 296px;
     text-align: center;
}