ul {
    list-style-type: none;
    float: left;
}
li {
    border: solid 1px black;
}

li a{
    text-decoration: none;
    padding: 20px 25px;
}
.pasive:hover{
    background-color: grey ; color: white;
}
.active{
    background-color: green;
    color: white;
}